<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
    {% block head %}{% endblock %}
</head>
<body>
<div class="container" style="margin-bottom: 75px">
    {% block body %}{% endblock %}
</div>
<footer class="fixed-bottom bg-dark text-white">
    <ul class="d-flex list-unstyled justify-content-center my-3">
        <li class="mr-5">Caner Savas IFA Projektarbeit 2022</li>
    </ul>
</footer>
</body>
</html>