{% extends 'base.html' %}

{% block head %}
<title>Adressverwaltung</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-5 text-center">Adressverwaltung</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 d-flex justify-content-center mb-4">
        <a href="/logout" class="btn btn-danger">Logout</a>
    </div>
</div>
{% if persons|length < 1 %}
<div class="row">
    <div class="col-12">
        <h4 class="text-center">There are no people. Create one below!</h4>
    </div>
</div>
{% else %}

<div class="row justify-content-center mb-5">
    <div class="col-6">
        <input type="text" class="form-control" id="search" placeholder="Search for something in the table">
    </div>
</div>

<table class="table table-dark table-hover" id="table">
    <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Phone</th>
        <th>Street</th>
        <th>City</th>
        <th>Zip</th>
        <th>Email</th>
        <th>Age</th>
        <th>Country</th>
        <th>Gender</th>
        <th>Actions</th>
    </tr>
    {% for person in persons %}
    <tr>
        <td>{{ person.firstname }}</td>
        <td>{{ person.lastname }}</td>
        <td>{{ person.phone }}</td>
        <td>{{ person.street }}</td>
        <td>{{ person.city }}</td>
        <td>{{ person.zip }}</td>
        <td>{{ person.email }}</td>
        <td>{{ person.age }}</td>
        <td>{{ countries[person.country_idcountry - 1].name }}</td>
        <td>{{ genders[person.gender_idgender - 1].name }}</td>
        <td>
            <a class="btn btn-info" href="/update/{{person.id}}">Update</a>
            <a class="btn btn-danger" href="/delete/{{person.id}}">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% endif %}

<div class="row justify-content-center">
    <div class="col-6">
        <h2 class="text-center mt-5">Create Person</h2>
        <form action="/" method="POST">
            <label for="firstname" class="col-form-label">Firstname</label>
            <input class="form-control" type="text" name="firstname" id="firstname" required>
            <label for="lastname" class="col-form-label">Lastname</label>
            <input class="form-control" type="text" name="lastname" id="lastname" required>
            <label for="phone" class="col-form-label">Phone</label>
            <input class="form-control" type="text" name="phone" id="phone" required>
            <label for="street" class="col-form-label">Street</label>
            <input class="form-control" type="text" name="street" id="street" required>
            <label for="city" class="col-form-label">City</label>
            <input class="form-control" type="text" name="city" id="city" required>
            <label for="zip" class="col-form-label">Zip</label>
            <input class="form-control" type="text" name="zip" id="zip" required>
            <label for="email" class="col-form-label">Email</label>
            <input class="form-control" type="text" name="email" id="email" required>
            <label for="age" class="col-form-label">Age</label>
            <input class="form-control" type="text" name="age" id="age" required>
            <label for="country_idcountry" class="col-form-label">Country</label>
            <select class="form-control" name="country_idcountry" required>
                <option value="" selected disabled>Select Country</option>
                {% for country in countries %}
                <option value="{{ country.id }}">{{ country.name }}</option>
                {% endfor %}
            </select>
            <label for="gender_idgender" class="col-form-label">Gender</label>
            <select class="form-control" name="gender_idgender" required>
                <option value="" selected disabled>Select Gender</option>
                {% for gender in genders %}
                <option value="{{ gender.id }}">{{ gender.name }}</option>
                {% endfor %}
            </select>
            <input class="btn btn-lg mt-3 btn-success" type="submit" value="Add Person">
        </form>
    </div>
</div>
{% endblock %}