{% extends 'base.html' %}

{% block head %}
<title>Adressverwaltung</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-5 text-center">Adressverwaltung Login</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6">
        <form action="/login" method="POST">
            {% if failure %}
            <p class="text-danger">Check your credentials please</p>
            {% endif %}
            <label for="email" class="col-form-label">Email</label>
            <input class="form-control {% if failure %} border-danger {% endif %}" type="text" name="email" id="email" required>
            <label for="password" class="col-form-label">Password</label>
            <input class="form-control {% if failure %} border-danger {% endif %}" type="password" name="password" id="password" required>
            <input class="btn btn-lg mt-3 btn-success" type="submit" value="Login">
        </form>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-6">
        <a class="btn btn-info mt-3" href="/register">Or Register Here</a>
    </div>
</div>
{% endblock %}