{% extends 'base.html' %}

{% block head %}
<title>Adressverwaltung</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-5 text-center">Adressverwaltung Register</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6">
        <form action="/register" method="POST">
            <label for="name" class="col-form-label">Name</label>
            <input class="form-control" type="text" name="name" id="name" required>
            <label for="email" class="col-form-label">Email</label>
            <input class="form-control" type="text" name="email" id="email" required>
            <label for="password" class="col-form-label">Password</label>
            <input class="form-control" type="password" name="password" id="password" required>
            <input class="btn btn-lg mt-3 btn-success" type="submit" value="Register">
        </form>
    </div>
</div>
{% endblock %}