{% extends 'base.html' %}

{% block head %}
<title>Person Master</title>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12">
        <h1 class="mb-5" style="text-align: center">Update Person</h1>
    </div>
</div>

<div class="row justify-content-center">
    <div class="col-6">
        <form action="/update/{{person.id}}" method="POST">
            <label for="firstname" class="col-form-label">Firstname</label>
            <input class="form-control" type="text" name="firstname" id="firstname" value="{{person.firstname}}" required>
            <label for="lastname" class="col-form-label">Lastname</label>
            <input class="form-control" type="text" name="lastname" id="lastname" value="{{person.lastname}}" required>
            <label for="phone" class="col-form-label">Phone</label>
            <input class="form-control" type="text" name="phone" id="phone" value="{{person.phone}}" required>
            <label for="street" class="col-form-label">Street</label>
            <input class="form-control" type="text" name="street" id="street" value="{{person.street}}" required>
            <label for="city" class="col-form-label">City</label>
            <input class="form-control" type="text" name="city" id="city" value="{{person.city}}" required>
            <label for="zip" class="col-form-label">Zip</label>
            <input class="form-control" type="text" name="zip" id="zip" value="{{person.zip}}" required>
            <label for="email" class="col-form-label">Email</label>
            <input class="form-control" type="text" name="email" id="email" value="{{person.email}}" required>
            <label for="age" class="col-form-label">Age</label>
            <input class="form-control" type="text" name="age" id="age" value="{{person.age}}" required>
            <label for="country_idcountry" class="col-form-label">Country</label>
            <select class="form-control" name="country_idcountry" required>
                <option value="" disabled>Select Country</option>
                {% for country in countries %}
                {% if country.id == countries[person.country_idcountry - 1].id %}
                <option value="{{ country.id }}" selected>{{ country.name }}</option>
                {% else %}
                <option value="{{ country.id }}">{{ country.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <label for="gender_idgender" class="col-form-label">Gender</label>
            <select class="form-control" name="gender_idgender" required>
                <option value="" selected disabled>Select Gender</option>
                {% for gender in genders %}
                {% if gender.id == countries[person.gender_idgender - 1].id %}
                <option value="{{ gender.id }}" selected>{{ gender.name }}</option>
                {% else %}
                <option value="{{ gender.id }}">{{ gender.name }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <input class="btn btn-lg btn-success mt-2" type="submit" value="Update">
        </form>
    </div>
</div>
{% endblock %}